Rob Gilton <rgilton@studentrobotics.org> <rspanton@zepler.net>
Rob Gilton <rgilton@studentrobotics.org> Robert Spanton <rspanton@zepler.net>
Rob Gilton <rgiton@studentrobotics.org> <rob@adventurousmachines.com>
Alistair Lynn <alynn@studentrobotics.org> <arplynn@gmail.com>
Andy Cottrell <ultimatereality92@gmail.com> ACottrell
Richard Barlow <richard@richardbarlow.co.uk> Rich Barlow <rich@bennellick.com>
Tom Leese <tom@tomleese.me.uk> <inbox@tomleese.me.uk>
Tom Leese <tom@tomleese.me.uk> thomas@leese.io <thomas@leese.io>
Andrew Barrett-Sprot <abarrettsprot@gmail.com> <abs1g14@soton.ac.uk>
Joe Hacker <j_hacker@live.co.uk> J Hacker
Joe Hacker <j_hacker@live.co.uk> JHacker
Laurenz Altenmueller <laltenmueller@studentrobotics.org> Laurenz
lilafisch <lilafisch@muc.ccc.de> Lila
lilafisch <lilafisch@muc.ccc.de> Lila Fisch
Peter Law <PeterJCLaw@gmail.com> Peter
Richard Barlow <richard@richardbarlow.co.uk> Rich Barlow <rbarlow@rich-thinkpad.lan>
Richard Barlow <richard@richardbarlow.co.uk> Rich Barlow <rich.barlow@navetas.com>
Thomas Scarsbrook <scarzybrook@googlemail.com> <scarzybrook@gmail.com>
Tim Jones <ymbirtt@gmail.com> <ymbirtt@github.com>
Tim Jones <ymbirtt@gmail.com> Ymbirtt <Ymbirtt@gmail.com>
Tyler Ward <tyler+git@scorpia.co.uk> <Tyler+git@scorpia.co.uk>
Tyler Ward <tyler+git@scorpia.co.uk> <Tyler@scorpia.co.uk>
Tyler Ward <tyler+git@scorpia.co.uk> <tyler@scorpia.co.uk>
Tyler Ward <tyler+git@scorpia.co.uk> tyler <tyler+git@scorpia.co.uk>
Tyler Ward <tyler+git@scorpia.co.uk> tyler <tyler@Blackice.(none)>
Chris Orchard <chris.s.orchard@gmail.com> orchard
Howard Buck <howiegoing@gmail.com> howiegoing
